/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background: #D5D5D5;
}

.logo {
	float: left;
	padding: 8px;
	margin-left: 16px;
	margin-top: 8px;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline-block;
	float: left;
}

nav ul li:not(:first-child) {
	margin-left: 48px;
}

nav ul li:last-child {
	margin-right: 24px;
}

nav ul li a {
	display: inline-block;
	outline: none;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1.2px;
	font-weight: 600;
}

/*
BANNER CONTAINER
*/
	.container {
		position: relative;
	}
	
	/*POSITIONS*/
	.mid-left {
		position: absolute;
		top: 15%;
		left: 15%;
	}

	.bottom-left {
		position: absolute;
		bottom: 25%;
		left: 15%;
	}
	
	.top-left {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	
	.bottom-mid {
		position: absolute;
		top: 75%;
		left: 50%;
	}

/*BANNER*/
img {
		width: 100%;
		max-height: 100%;
		z-index: -1;
		border: none;
	}
	
#bannerhead {
		font-size: 4vw;
		font-family: Cardo;
		color: white;
		line-height: 1.3;
	}

	#hello {
		font-family: 'Open Sans', sans-serif;
    	text-transform: uppercase;
    	font-size: 2vw;
    	font-weight: 550;
    	color: #D5D5D5;
	}

@media screen and (max-width: 44em) {

	.logo {
		padding: 0;
	}
	
	.nav-wrapper {
		position:fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: #fff;
		opacity: 0;
		transition: all 0.2s ease;
	}
	
	.nav-wrapper ul {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
	
	.nav-wrapper ul li {
		display: block;
		float: none;
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
	}
	
	.nav-wrapper ul li:nth-child(1) a {
		transition-delay: 0.2s;
	}
	
	.nav-wrapper ul li:nth-child(2) a {
		transition-delay: 0.3s;
	}
	
	.nav-wrapper ul li:nth-child(3) a {
		transition-delay: 0.4s;
	}
	
	.nav-wrapper ul li:nth-child(4) a {
		transition-delay: 0.5s;
	}
	
	.nav-wrapper ul li:not(:first-child) {
		margin-left: 0;
	}
	
	.nav-wrapper ul li a {
		padding: 10px 24px;
		opacity: 0;
		color: #000;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 1.2px;
		transform: translateX(-20px);
		transition: all 0.2s ease;
	}
	
	.nav-btn {
		position: fixed;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
	}
	
	.nav-btn i {
		display: block;
		width: 20px;
		height: 2px;
		background: #000;
		border-radius: 2px;
		margin-left: 14px;
	}
	
	.nav-btn i:nth-child(1) {
		margin-top: 16px;
	}
	
	.nav-btn i:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}
	
	.nav-btn i:nth-child(3) {
		margin-top: 4px;
	}
	
}

#nav:checked + .nav-btn {
	transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
	background: #000;
	transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
	transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
	opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
	transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
	z-index: 9990;
	opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
	opacity: 1;
	transform: translateX(0);
}

.hidden {
	display: none;
}

/*
MENU
*/
/*

	header {
		background: #9099A2;
		width: 100%;
		height: 43px;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 1;
	}
	
	#logo {
		margin: 20px;
		float: left;
		width: 50px;
		height: 50 px;
		background: url(images/logo.png) no-repeat center;
		display: block;
	}
	
	nav {
		float: right;
		font-family: 'Open Sans', sans-serif;
	}
	
	#menu ul li {
		display: inline-block;
		float: left;
	}	
	
	#menu ul li a {
		color: #FFFFFF;
		text-decoration: none;
		display: block;
		padding: 15px 25px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		position: relative;
		-webkit-transition: color .25s;
  		-moz-transition: color .25s;
  		-ms-transition: color .25s;
  		-o-transition: color .25s;
 		transition: color .25s;
	}
	#menu ul li a:hover {
		color: #333333;
	}
	#menu ul li a:hover:before {
		width: 100%;
	}
	#menu ul li a:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 3px;
		width: 0;
		background: #333333;
		-webkit-transition: width .25s;
  		-moz-transition: width .25s;
  		-ms-transition: width .25s;
  		-o-transition: width .25s;
  		transition: width .25s;
	}
	#menu ul li.active a {
		color: #333333;
	}
	
	#menu-icon {
		background: url(images/menu.png);
		display: hidden;
		width: 32px;
		height: 32px;
	}
	
	a:hover#menu-icon {
		background-color: #FFFFFF;
		border-radius: 4px 4px 0px 0px;
	} 
	*/